@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

body{
    font-family: 'arial black';   
    font-size: large; 
    margin-top: 4px;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(-45deg, orange,rgb(214, 128, 214), rgb(216, 108, 108),rgb(161, 161, 226),rgb(81, 63, 196));
    background-size: 400% 400%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: center;
    position: relative;
    animation: backgroundTransition 8s ease-in-out infinite;

}


tr{
    color: white;
}

label{
    color: white;
    margin-top: 20px;
}

h3{
    margin-bottom: 30px;
}